*{
  font-family: Helvetica;
  box-sizing: border-box;
}
html{
  background: linear-gradient(180deg, #ea03ff 0%, #0097ff 100%);
  height: auto;
  min-height: 100vh;
}
body{
  padding: 1rem;
}
h1{
  text-align: center;
  margin-left: 1rem;
  width: 380px;
  margin: 1rem auto;
}
form{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 420px;
  margin: 0 auto;
  border: 2px solid greenyellow;
  border-radius: 10px;
}
label{
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 1rem;
}
input,
select,
textarea,
button{
  width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-left: 1rem;
}

#file{
  border: none;

}
button{
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1rem;
  margin-bottom: 2rem;
}

/* barra de progresso */
progress{
  width: 380px;
  height: 20px;
  margin-left: 1rem;
  margin-top: 2rem;

}
progress::-webkit-progress-bar{
  background-color: #eee;
  border-radius: 5px;
}
progress::-moz-progress-value{
  background-color: #888;
  border-radius: 5px;
}
progress::-moz-progress-value{
  background-color: #888;
  border-radius: 5px;
}
#modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
  position: relative;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
}
#close-button{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-message{
  font-size: 18px;
  margin-bottom: 20px;
}